<div>
    <h1 class="device-title">
        {{device.deviceID}}
    </h1>
    <br>

    <table>
        <tr>
            <th class="device-tableheader">On/Off</th>
            <th class="device-tableheader">On/Off</th>
        </tr>
    </table>
</div>
