<nav class="navbar navbar-expand-lg mb-3">
    <a class="navbar-brand" href="/">
        <h1 class="homeTitle">Home</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <!--add in future-->
            </li>
        </ul>


        {{#if session.user}}
        <div class="nav-item mr-3">
            <a href="/users/devices">
                <div class="card circleCard" data-toggle="tooltip" data-placement="bottom" title="Devices">
                    <div class="card-body">
                        <img src="http://localhost:3000/public/imgs/icons/appliance.svg" height="20px" />
                    </div>
                </div>
            </a>
        </div>

        <div class="nav-item mr-3">
            <a href="/tasks/manageTasks">
                <div class="card circleCard" data-toggle="tooltip" data-placement="bottom" title="Tasks">
                    <div class="card-body">
                        <img src="http://localhost:3000/public/imgs/icons/clipboard.svg" height="20px" />
                    </div>
                </div>
            </a>
        </div>

        <ul class="navbar-nav">
            <li class="nav-item dropleft" data-toggle="tooltip" data-placement="bottom" title="Profile">
                <div class="card circleCard" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="card-body">
                        <img src="http://localhost:3000/public/imgs/icons/user.svg" height="20px" />
                    </div>
                </div>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/users/profile"><i class="fas fa-user-circle"></i> My Profile</a>
                    <a class="dropdown-item" href="/users/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </div>
            </li>
        </ul>
        {{else}}
        <div class="nav-item">
            <a class="btn btn-primary" href="/users/register">Register</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
        </div>
        {{/if}}


    </div>
</nav>