.device-title {
  color: whitesmoke;
  font-weight: 400;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.addDevice {
  width: 30%;
  background-color: lightgray;
  opacity: 0.8;
  font-size: 15px;
  border-radius: 30px;
}

.addDevice:hover {
  text-decoration: none;
}

.addDevice:hover {
  opacity: 0.9;
}

.deviceLayout {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.deviceBox {
  width: 100%;
  margin: 20px;
}

.deviceImg {
  height: 50px;
  width: 20%;
  margin-bottom: 10px;
  margin-right: 20px;
}

.delete {
  color: red;
}

.delete:hover {
  color: darkred;
}

.label-class {
  color: whitesmoke;
  font-weight: 400;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.device-caption {
  color: whitesmoke;
  font-weight: 400;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

#add-popup {
  background-color: whitesmoke;
  width: 30%;
  padding: 10px;
  border-radius: 8px;
  border-color: lightgreen;
  border-style: solid;
}

.device-tableheader {
  color: white;
}

.titleAndImage {
  display: flex;
  border-bottom: 3px solid black;
  margin-bottom: 15px;
}

.right {
  float: right;
}

.nav {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  font-weight: 400;
  font-size: 16px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.nav-link:hover {
  color: darkgrey;
  font-weight: bold;
}
