.device-title {
	color: #455a64;
	font-weight: 400;
	font-size: 35px;
	margin-left: 10px;
}

.sidebar-title {
	color: #455a64;
}

.sidebar-col {
	border-left: 6px solid #f50057 !important;
}

.list-group-item:hover {
	background-color: #f50057 !important;
	color: #fff;
}

.card {
	color: white;
}
.card-title {
	color: white;
}
.card-text {
	margin-bottom: 2px !important;
}

.addDevice {
	width: 30%;
	background-color: lightgray;
	opacity: 0.8;
	font-size: 15px;
	border-radius: 30px;
}

.addDevice:hover {
	text-decoration: none;
}

.addDevice:hover {
	opacity: 0.9;
}

.modal-title {
	color: black;
}

.modal-body {
	color: black;
}

.deviceLayout {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.deviceBox {
	width: 100%;
	background-color: #153e90;
}

.deviceImg {
	height: 40px;
	margin-left: auto;
}

input:checked + .slider {
	background-color: #54e346 !important;
}

.delete {
	color: red;
}

.delete:hover {
	color: darkred;
}

.label-class {
	font-weight: 400;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.device-caption {
	font-weight: 400;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

#add-popup {
	background-color: whitesmoke;
	width: 30%;
	padding: 10px;
	border-radius: 8px;
	border-color: lightgreen;
	border-style: solid;
}

.titleAndImage {
	display: flex;
}

.right {
	float: right;
}

.nav {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.nav-link {
	font-weight: 400;
	font-size: 16px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.nav-link:hover {
	color: darkgrey;
	font-weight: bold;
}
