.card {
	cursor: pointer;
}

.homeTitle {
	color: white;
	font-weight: 400;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.greetingTitle {
	color: white;
	font-weight: 300;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.columnHeadings {
	color: whitesmoke;
	font-weight: 400;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.card-title {
	color: #455a64;
}

.white-text {
	display: inline;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.videoPlayerDiv {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.homeCards:hover {
	background-color: #f50057;
}

.homeCards:hover .hover-title {
	color: white !important;
}

.custom-card-padding {
	padding-top: 10px;
}

.off-card {
	background-color: #e6153d;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	height: 50px;
}

.off-card:hover {
	background-color: #feb72b;
}

.on-card {
	background-color: #00918e;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	height: 50px;
}
.on-card:hover {
	background-color: #feb72b;
}

.cardLink:hover {
	text-decoration: none;
}

.small-text {
	font-size: 11px;
}

.notifTitle {
	font-size: 20px;
	font-weight: 400;
	color: #455a64;
}

.notifSubTitle {
	font-size: 21px;
	font-weight: 400;
	color: #7d8c93;
}

.running:before {
	content: " \25CF";
	font-size: 18px;
	color: #4caf50;
}

.btn-circle {
	width: 30px;
	height: 30px;
	padding: 0px 0px;
	border-radius: 15px;
	font-size: 18px;
	text-align: center;
}

.temp-text {
	color: #455a64;
	font-weight: 500;
}
