@import "homeStyle.css";
@import "profileStyle.css";
@import "manageTasksStyle.css";

body {
  background: url("../imgs/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  /* cursor: url("../imgs/icons/cursor.png"), auto !important; */
}
