<body id="hbody">
    <div class="container-fluid">
        <div class="row" id="up">
            <h1 id="h1">WELCOME TO SMARTHOME</h1>
        </div>
        <div id="wrapper" class="row">
            <div id="d1" class="col-md-4">
            </div>
            <div id="d2" class="col-md-4">
                <div class="card-body">

                    <button id="b1" class="button1" onclick="location.href='/users/login'">Login</button>
                    <div class="divider"></div>
                    <button id="b2" class="button1" onclick="location.href='/users/register'">Register</button>
                </div>
            </div>
            <div id=" d3" class="col-md-4">
            </div>
        </div>
    </div>

</body>