<div class="mainHome">
    <h2 class="greetingTitle">Good Morning, Dave</h2>

    <div class="row mt-4">
        <div class="col">
            <h5 class="columnHeadings">TV</h5>
            <div class="card">
                <div class="card-body">
                    <img src="./public/imgs/icons/hdmi.svg" height="40px" class="mb-1" />
                    <h5 class="card-title" style="display: inline;">HDMI 1</h5>
                    <div class="col" style="padding-left: 0px;">
                        <div class="videoPlayerDiv embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/xrhNIU-BLZw" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <h6 class="mt-3" style="color: #455a64;">Now Playing: Apple's Design Philosophy</h6>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="card" style="height: 60px;">
                        <div class="card-body" style="padding: 10px;">
                            <img src="./public/imgs/icons/hdmi.svg" height="40px" class="mb-1" />
                            <h5 class="card-title" style="display: inline;">HDMI 1</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="height: 60px;">
                        <div class="card-body" style="padding: 10px;">
                            <img src="./public/imgs/icons/hdmi.svg" height="40px" class="mb-1" />
                            <h5 class="card-title" style="display: inline;">HDMI 2</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="card" style="height: 60px;">
                        <div class="card-body" style="padding: 10px;">
                            <img src="./public/imgs/icons/antenna.svg" height="40px" class="mb-1" />
                            <h5 class="card-title" style="display: inline;">Live TV</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="height: 60px;">
                        <div class="card-body" style="padding: 10px;">
                            <img src="./public/imgs/icons/output.svg" height="40px" class="mb-1" />
                            <h5 class="card-title" style="display: inline;">AV</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h5 class="columnHeadings">DEVICES</h5>
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="col">
            <h5 class="columnHeadings">NOTIFICATIONS</h5>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img src="./public/imgs/icons/vacuum.svg" height="60px" />
                        </div>
                        <div class="col-6 pt-1">
                            <div class="row">
                                <span class="notifTitle">Vacuum Cleaner</span>
                            </div>
                            <div class="row">
                                <span class="notifSubTitle">Running</span>
                                <span class="running ml-2"></span>
                            </div>
                        </div>
                        <div class="col-3 pt-2">
                            <a href="">
                                <img src="./public/imgs/icons/pause.svg" height="45px" />
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="row pl-3">
                        <div class="col">
                            <img src="./public/imgs/icons/timer.svg" height="30px" />
                            <span class="notifSubTitle ml-2">00:35</span>
                        </div>
                        <div class="col">
                            <img src="./public/imgs/icons/battery.svg" height="30px" />
                            <span class="notifSubTitle ml-2">Mid</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-5 ">

    </div>


    {{#each user.rooms}}
    <div class="nav-item" my=2>
        <a class="btn btn-outline-primary" href="/room/{{this}}">{{this}}</a>
    </div>
    {{/each}}
    <br>
    <div class="nav-item">
        <a class="btn btn-primary" href="/tasks/managetasks">Manage Tasks</a>
    </div>
</div>