<p>Home Page (TBD) </p>

{{#each user.rooms}}
<div class="nav-item" my=2>
    <a class="btn btn-outline-primary" href="/room/{{this}}">{{this}}</a>
</div>
{{/each}}

<br>
<div class="nav-item">
    <a class="btn btn-primary" href="/tasks/managetasks">Manage Tasks</a>
    <a class="btn btn-primary" href="/tasks/addTasks">Add a Task</a>
</div>