<p> Add tasks</p>

<form action="/tasks/newTask" method="POST" class="new-task-form">
    <label>
        Task Name
        <input type="text" name="taskName" placeholder="Task Name" value="{{task.title}}" class="form-control" />
    </label><br>
    <label>Choose a Device
        <input type="text" name="deviceName" placeholder="Enter device Name" value="{{task.device}}"
            class="form-control" />
    </label><br>
    <label>Enter Date
        <input type="date" name="date" class="form-control" value="{{task.date}}" />
    </label><br>
    <label>
        Enter Time
        <input type="time" name="time" class="form-control" value="{{task.time}}" />
    </label><br>
    <button type="submit" class="btn btn-primary">Create New Task</button>
    <button type="reset" class="btn btn-primary">Clear Form</button>
</form>