<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <h1 class="card-title mt-2 text-center">Welcome</h1>
                </header>
                <div style="text-align: center;">
                    <img src="http://localhost:3000/public/imgs/qr-code.png" height="300px" width="300px" />
                </div>
                <article class="card-body">
                    <form method="POST" id="login">
                        <div class="form-group">
                            <input type="hidden" id="email" class="form-control" placeholder="" name="email"
                                value="hellozoe@stevens.edu" required>
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            <input class="form-control" id="password" type="hidden" name="password" value="hellozoe123"
                                required minlength="8">
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            <button type="submit" id="login-btn" class="btn btn-block btn-primary"> Proceed </button>
                        </div> <!-- form-group// -->

                        {{#if errors}}
                        <ul class="text-danger">
                            {{#each errors}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}
                    </form>
                </article> <!-- card-body end .// -->
                <div class="border-top card-body text-center">Not Registered yet? <a href="/users/register"
                        class="register-login-link">Register</a></div>
            </div> <!-- card.// -->
        </div> <!-- col.//-->

    </div> <!-- row.//-->


</div>
<!--container end.//-->